.title {
    font: 29px/29px KievitPro-Bold;
    margin-bottom: 30px;
    text-align: left;
}

.chat {
    box-sizing: border-box;
    padding-right: 24px;
    text-align: center;
    width: 436px;
}

.chat.admin {
    padding-left: 24px;
    padding-right: 0;
}

.chat-box {
    background: #fff;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

.header {
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 0 0 #ececec;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0;
    top: 0;
    padding: 26px 15px 26px 26px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.user {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.avatar {
    border-radius: 50%;
    margin-right: 12px;
    height: 44px;
    width: 44px;
}

.name {
    color: #000;
    font: 18px/25px KievitPro-Bold;
}

.description {
    color: #ff4641;
    font: 13px/17px KievitPro-Regular;
    text-align: left;
}

.message-wrap {
    box-sizing: border-box;
    min-height: 593px;
    overflow: hidden;
    padding-top: 96px;
    position: relative;
}

.messages-list {
    box-sizing: border-box;
    bottom: 0;
    max-height: 495px;
    padding: 10px 10px 10px 13px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

.messages-list::-webkit-scrollbar {
    background: rgba(0, 0, 0, .0);
    cursor: pointer;
    width: 3px;
}

.messages-list::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, .0)
}


.messages-list::-webkit-scrollbar-thumb {
    background: #FF4641;
    cursor: pointer;
}

.messages-list::--webkit-scrollbar-thumb:hover {
    background: #EA534F;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    padding: 12px;
}

.item.my {
    background: #f9f7f2;
}

.message {
    box-sizing: border-box;
    padding: 0 14px;
    text-align: left;
    width: 305px;
}

.message .text {
    word-wrap: break-word;
    font: 15px/24px KievitPro-Regular
}

.message .time {
    color: #9d9d9d;
    font: 11px/11px Roboto-Regular;
}

.form {
    align-items: center;
    box-shadow: 0 -1px 0 0 #ececec;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 15px 25px 25px;
    text-align: left;
    width: 100%;
}

.form-avatar {
    border-radius: 50%;
    height: 44px;
    width: 44px;
}

.form input {
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ececec;
    font: 15px/15px KievitPro-Regular;
    height: 50px;
    padding: 0 25px;
    width: 100%;
}
.form button {
    background: transparent;
    cursor: pointer;
    border: none;
    height: 49px;
    outline: none;
    position: relative;
    width: 46px;
}

.form button::before {
    background: url("../../assets/images/send.png") top no-repeat;
    content: "";
    display: block;
    position: absolute;
    left: 36%;
    top: 30%;
    height: 22px;
    width: 22px;
}

.form > form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 4px;
}

.input-box {
    width: 270px;
}

.input {
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ececec;
    font: 15px/15px KievitPro-Regular;
    height: 50px;
    padding: 0 25px;
    width: 100%;
}