<div class="wrapper">
    <div class="content">
        <div class="about">
            <div class="img">
                <img src="./assets/images/barcelona.png" alt="">
            </div>
            <div class="description">
                <h1 class="title">Барселона — обзор города</h1>
                <span class="text">Барселона с её золотистыми пляжами, архитектурными шедеврами Гауди, многочисленными фестивалями и гастрономическим разнообразием понравилась мне в первый же день пребывания и стала местом, в котором...</span>
                <a href="#" class="more">Читать дальше</a>
            </div>
        </div>

        <div class="chat-wrapper">
            <chat [admin]="false"
                  [title]="'Чат с пользователем'"
                  [avatar]="'./assets/images/user.png'"
                  [name]="'Наталья Полянская'"
                  [description]="'Гид по Баварии, фотограф'">
            </chat>
            <chat [admin]="true"
                  [title]="'Чат с администратором'"
                  [avatar]="'./assets/images/admin.png'"
                  [name]="'Администратор'"
                  [description]="'TravelAsk'">
            </chat>
        </div>
    </div>
</div>

